.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.897); /* Subtle shadow */
    border-radius: .5rem;
    border: 0.1rem solid black; /* Adjusted border size */
    position: relative;
}

.products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.7rem 1rem; /* Adjusted padding */
    font-size: 2rem;
    color: var(--pink); /* Assuming var(--pink) is defined elsewhere */
    background: black;
    z-index: 1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    position: relative;
text-align: center;
padding-top: 2rem;
overflow: hidden;
}
.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box:hover .image img{
    transform: scale(1.1);
}
.products .box-container .box:hover .image .icons{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
.products .box-container .box:hover .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: aliceblue;
}