:root {
    --pink: #ff1493;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.5); /* Subtle shadow */
    border-radius: .5rem;
    border: 0.1rem solid black; /* Adjusted border size */
    position: relative;
    overflow: hidden;
}

.products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.7rem 1rem; /* Adjusted padding */
    font-size: 2rem;
    color: var(--pink);
    background: black;
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 25rem;
    transition: transform 0.3s ease-in-out;
}

.products .box-container .box:hover .image img {
    transform: scale(1.1);
}

.products .box-container .box:hover .image .icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.products .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: aliceblue;
}

.products .box-container .box:hover .image .icons .cart-btn {
    border-left: .1rem solid gray;
    border-right: .1rem solid gray;
}

.products .box-container .box .image .icons a:hover {
    background-color: black;
}

@media (max-width: 768px) {
    .products .box-container .box {
        flex: 1 1 100%;
    }
}
