/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bree Serif", serif;
    /* background-image: url(bg.jpg);
    opacity: 0.5;
    z-index: -1; */
}

:root {
    --primary-color: #edece9;
    --secondary-color: #9b795c;
    --bg-color: #f2f2f2;
    --text-color: #ffffff;
    --input-bg-color: #ffffff;
    --input-border-color: #9b795c;
}


/* Login Section */
#login {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    /* justify-content: center;*/
    align-items: center; 
    box-shadow: #2d291c;
}

#login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(196, 181, 181, 0.7); /* Dark overlay */
    background-image: url('bg.jpg');
    padding: 2em;
    opacity: 0.4;
    z-index: -1;
}

.login-box {
    background-color: #2d291c;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 350px;
    animation: fadeIn 0.8s ease-out;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box label {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.login-box input {
    padding: 0.75rem;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: var(--input-bg-color);
    transition: all 0.3s ease;
}

.login-box input:focus {
    border-color: var(--secondary-color);
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.btn {
    font-family: "Bree Serif", serif;
    padding: 0.75rem;
    background-color: #9b795c;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn:hover {
    background-color: var(--secondary-color);
    transform: translateY(-3px);
}

.btn a{
    text-decoration: none;
    color: inherit;
}

.center {
    text-align: center;
    margin-top: 1rem;
    color: var(--primary-color);
}

.center a {
    color: var(--secondary-color);
    text-decoration: none;
}

.center a:hover {
    text-decoration: underline;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .login-box {
        width: 90%;
        padding: 1.5rem;
    }
}
