

#profile {
    max-width: 800px;
    padding: 20px;
    background-color: #9b795c;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center; /* Optional for centering text */
}

.profile-info {
    margin-top: 20px;
}

.profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-info li {
    margin-bottom: 10px;
}

.profile-info strong {
    font-size: larger;
    color: #f5f5dc;
}

.profile-icon {
    font-size: 48px;
    color: #4CAF50;
    margin-right: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.profile-header .profile-icon {
    margin-right: 20px;
}

#logoutbtn {
    font-family: "Bree Serif", serif;
    padding: 0.75rem;
    background-color: #9b795c;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;
    align-items: center;
    position: center;
    font-size: large;
}

#logoutbtn:hover {
    background-color: #f5f5dc;
}
